@charset "utf-8";
.main-visual {
  padding-top: 140px;
  padding-bottom: 100px;
  background-image: url("images/main.png");
  background-size: cover;
  color: #f5f5f5;
  text-align: center;
}
.top-title {
  font-size: 64px;
  margin-bottom: 10px;
}
.top-subtitle {
  font-size: 24px;
  margin-bottom: 60px;
}
.top-text {
  opacity: 0.9;
}
.main {
  padding: 80px 0;
  color: #5a5c5f;
  text-align: center;
}
.main h2 {
  margin-bottom: 25px;
}
.main-image {
  width: 450px;
  margin-bottom: 25px;
  box-shadow: 2px 2px 4px #b7b7b7;
  border-radius: 5px;
}
.main h3 {
  margin-bottom: 10px;
}
